body{
    background-color: rgba(10,23,55,0.5);
    background-image: url(../../midia/img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wpp-floating {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
    z-index: 60;}
    @media only screen and (max-width: 993px) {
        .wpp-floating {
        right: 2rem;
        width: 10%;
        bottom: 5rem;} }

.navbar img{
    width: 50px;
    position: relative;
    top: -16px;    
}

.nav-logo  {
    font-size: 30px;
    color: #5e5573;
    font-weight: 600;    
}

.navbar{
    display: flex;
    background-color: rgba(138,43,226,0.5);
    width: cover;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#container{
    margin-top: 130px;
}

#btn{
    display: grid;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}
#btn button{
    background-color: #e5e5e5;
    margin-left: 22px;
    margin-right: 22px;
    height: 40px;
    width: 140px;
}

.item{
    width: 250px;
    height: 300px;
}
.footer{
    display: flex;
    position:absolute;
    bottom: 0;
    color: #5e5573;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    background-color: #f6f7fc;
    width: 100%;
    height: 100px;
    margin-top: 5px;
}

.footer a, footer h4 {
    color: #5e5573;
    font-weight: 600;

}

.img-footer{
    margin-left: 60px;
    width: 60px;        
    height: 60px;
}

.footer .sobre {
    margin-left:20px;
    font-size: 20px;
}

.footer .contato {
    display: flex;
    position:absolute;
    right: 60px;
    flex-direction: column;
    align-items: flex-start;
}

